@font-face {
   font-family: 'KozGoPro';
   src: url(../fonts/KozGoPro-ExtraLight.otf);
}

@font-face {
   font-family: 'TahomaBold';
   src: url(../fonts/Tahoma-bold.ttf);
}

@font-face {
   font-family: 'ArialNarrow';
   src: url(../fonts/ARIALN.TTF);
}

@font-face {
   font-family: 'centuryGothicReg';
   src: url(../fonts/CenturyGothic.ttf);
}
// src: url(../fonts/GeorgiaBrush.otf);